BasedOnStyle: Google
Standard: Cpp11
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
DerivePointerAlignment: true
PointerAlignment: Left
ColumnLimit: 100
IncludeBlocks: Regroup