
add_library( xgt_plugins
   mf_plugins.cpp
   ${CMAKE_CURRENT_SOURCE_DIR}/include/xgt/manifest/plugins.hpp
)

target_link_libraries( xgt_plugins PUBLIC appbase fc
{% for plugin in plugins %}
   {{ plugin["plugin_project"] }}
{% endfor %}
)

target_include_directories( xgt_plugins
   PUBLIC "${CMAKE_CURRENT_SOURCE_DIR}/include"
   )
